<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${city.getName()}">Кот</title>
</head>
<body>
<p th:text="${'Город: ' + city.getName()}"></p>
<p th:text="${'Население: ' + city.getPopulation()}"></p>
<br>
<form th:method="GET" th:action="@{/cities/edit/{id}(id=${city.getId()})}">
    <input type="submit" value="Редактировать город">
</form>
<br>
<form th:method="DELETE" th:action="@{/cities/{id}(id=${city.getId()})}">
    <input type="submit" value="Снести город">
</form>
<br>
<a href="/cotobase">На главную</a>
</body>
</html>