<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${city.getName()}">Кот</title>
</head>
<body>
<p th:text="${'Город: ' + city.getName()}"></p>
<p th:text="${'Население: ' + city.getPopulation()}"></p>
<br>

<div th:unless="${city.getCatList().isEmpty()}">
    <a th:text="${'Список котов защитников этого города'}" th:href="@{/cities/defense/{id}(id=${city.getId()})}"></a>
</div>

<div th:if="${city.getCatList().isEmpty()}">
    <label>Город никто не защищает</label>
</div>

<div th:unless="${freeCats.isEmpty()}">
    <p>Выберете котов для защиты города</p>
    <form th:method="PATCH" th:action="@{/cities/add/{city_id}(city_id=${city.getId()})}" th:object="${superCat}">
        <label for="superCat">Выберите супер-кота</label>
        <select th:object="${superCat}" th:field="*{id}" id="superCat">
            <option th:each="superCat : ${freeCats}" th:value="${superCat.getId()}"
                    th:text="${superCat.getSuperName()}"></option>
        </select>
        <input type="submit" value="Назначить супер-кота"/>
    </form>
</div>

<div th:if="${freeCats.isEmpty()}">
    <p>Сейчас нет доступных супер-котов, возможно все заняты</p>
</div>

<br>
<form th:method="GET" th:action="@{/cities/edit/{id}(id=${city.getId()})}">
    <input type="submit" value="Редактировать город">
</form>
<br>
<form th:method="DELETE" th:action="@{/cities/{id}(id=${city.getId()})}">
    <input type="submit" value="Снести город">
</form>
<br>
<a href="/cotobase">На главную</a>
</body>
</html>